# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity-simulation.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\School\pleinity-team\Unity-simulation\.idea\.idea.Unity-simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
